#container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border: 5px solid black;
    height: 600px;
    width: 600px;
    margin-left: 30%;
  }
  
.grid-item {
    padding: 40%;
}

.grid{
  display: grid;
  grid-template-columns: min-content;
}
